.header {
    background-color: #333;
    padding:8px;
    display: block;
    min-height: 30px;
}

.title {
    color: #FFF;
    display: inline-block;
    font-weight:700;
    padding-right: 10px;
    line-height: 30px;
}

.title a,.title a:hover {
    color: #FFF;
    text-decoration: none;
}

.range-input {
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    vertical-align: middle;
    display: inline-block;
}

.start-btn {
    width:70px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    border: #333;
    cursor: pointer;
    margin-left:20px;
    background-color: #f5d22e;
    border-radius: 4px;
}



.nav-item {
    margin-left: 10px;
    padding:5px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #333;
}

.nav-item-active {
    border: 1px solid red;
    margin-left: 10px;
    padding:5px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    display: inline-block;
    cursor: pointer;
}
